*{
	margin: 0 auto;
	padding: 0px;
}
body{
	font-family:rubik,arial,sans-serif;
}
header a{
	text-decoration: none;
	color: #000;
	padding: 0 7px;
}
.container{
	width: 990px;
}

/* starting header style */
header{
	width: 100%;
	height: 75px;
	line-height: 75px;
	background-color: #fff;
}
.logo{
	float: left;
	font-size: 20px;
	font-weight: 400;
	letter-spacing: 4px;
}
.navbar{
	width: 650px;
	float: right;
}
nav{
	float: left;
}
.navbar div, .navbar div a{
	float: right;
	color: lightblue;
}
.navbar div a:hover{
	color: rgb(14,170,180);
}
/* Ending header style */

/* starting main style */
main{
	min-height:750px;
	background-image: url("../img/main.jpg");
	background-size:cover;
	background-attachment: fixed;
	/*background-position:center top;*/
	/*background-attachment: scroll;*/
	/*background-size: 100%;*/
}
.main_div{
	width: 850px;
	text-align: center;
	height: 625px;
	padding-top: 300px;
	color: #fff;
	line-height: 75px;
}
form{
	background-color: #fff;
	text-align: left;
}
.main_div p:first-of-type{
	font-size: 40px;
	font-weight: 300px;
}
.s1{
	width: 200px;
	display: inline-block;
	padding-left: 20px;
}
.kw{
	width: 200px;
	padding: 10px 0;
	border:transparent;
	font-size: 17px;
}
.s1 select{
	width: 200px;
	padding: 10px 0;
	border: transparent;
	font-size: 17px;
}
form .s1:last-child{
	color: #fff;
	width: 100px;
	height: 35px;
	font-size: 17px;
	border-radius: 3px;
	background-color: #11cbd7;
	border: 1px solid transparent;

    margin-left: 57px;
    padding: 0px;

}
form .s1:last-child:hover{
	border: 1px solid #11cbd7;
	background-color: #fff;
	color: #000;
}
.rg{
	color: #fff;
	width: 200px;
	height: 60px;
	font-size: 17px;
	border-radius: 3px;
	background-color: #11cbd7;
	border: 1px solid transparent;
}
.rg:hover{
	border: 1px solid #fff;
	background-color: transparent;
}
/* Ending main style */

/* starting section_1  style */
.section_1{
	padding: 40px 0;
	height: 750px;
}
/* start sec_1_1 */
.sec_1_1{
	height: 350px;
}
.sec_1_11{
	width: 493px;
	float: left;
}
.sec_1_11 h2{
	color: #11cbd7;
	font-size: 35px;
}
.sec_1_11 p{
	padding-top: 15px;
	padding-bottom: 75px;
	line-height: 33px;
	color: #939393;
}
.sec_1_11:last-child{
	padding-top: 35px;
}
.sec_1_11 img{
	width: 100%;
}
.rm{
	color: #fff;
	width: 130px;
	height: 45px;
	font-size: 17px;
	border-radius: 3px;
	background-color: #11cbd7;
	border: 1px solid transparent;
}
.rm:hover{
	border: 1px solid #11cbd7;
	background-color: transparent;
	color: #000;
}
/* end sec_1_1 */
/* start sec_1_2 */
.sec_1_2{
	padding-top: 50px;
	height: 350px;
}
.sec_1_21{
	float: left;
	width: 228px;/* 242px; */
	height: 300px;
	padding-right: 25px;
}
.sec_1_21:last-child{
	padding: 0px;
}
.sec_1_21 img{
	width: 100%;
}
h3{
	padding: 10px 0;
}
.sec_1_21 p{
	line-height: 25px;
	padding-bottom: 20px; 
	color: #939393;
}
.sec_1_21 a{
	text-decoration: none;
	color: #11cbd7;
}
/* end sec_1_2 */
/* Ending section_1 style */

/* starting section_2  style */
.section_2{
	padding: 60px 0;
	height: 1300px;
	background-color: #f7f7f7;
}
/* start sec_2_1 */
.sec_2_1{
	height: 450px;
}
.sec_2_11{
	width: 490px;
	float: left;
}
.sec_2_11 img{
	width: 100%;
}
.sec_2_11 .edu_life{
	line-height: 25px;
	padding-top: 20px; 
	padding-bottom: 80px;
	color: #939393;
}
.sec_2_11 h2{
	color: #11cbd7;
	font-size: 35px;
}
.sec_2_11:last-child{
	padding-left: 100px;
	width: 390px;
}
.sec_2_11 .Stud_numbr{
	width: 100%;
}
.sec_2_11 .Stud_numbr div{
	line-height: 25px;
	width: 49% ;
	padding-bottom: 20px;
	float: left;
}
.sec_2_11 div img{
	float: left;
	width: 35%;
	padding-right: 10px;
}
.sec_2_11 .Stud_numbr span{
	font-size: 35px;
	color: #11cbd7;
}
/* end sec_2_1 */
/* start sec_2_2 */
.sec_2_2{
	padding-top: 100px;
	text-align: center;
	line-height: 30px;
}
.sec_2_2 h2{
	color: #11cbd7;
	font-size: 35px;
}
.sec_2_2 p{
	margin: 25px 0;
	color: #939393;
}
.en{
	color: #fff;
	width: 160px;
	height: 45px;
	font-size: 17px;
	border-radius: 3px;
	background-color: #11cbd7;
	border: 1px solid transparent;
}
.en:hover{
	border: 1px solid #11cbd7;
	background-color: transparent;
	color: #000;
}
/* end sec_2_2 */
/* start sec_2_3 */

.sec_2_3{
	height: 450px;
	padding-top: 60px;
}
.arti{
	width: 312px;/* 312 */
	float: left;
	margin-right: 25px;
	background-color: #fff;
}
.arti:last-child{
	margin-right: 0;
}
.arti img{
	width: 100%;
	height: 230px;
}
.arti h2{
	padding: 15px;
	font-size: 17px;
}
.arti h2+p{
	padding: 0 15px 35px;
	line-height: 25px;
	color: #939393;
}
.arti:hover{
	outline: 4px solid #11cbd7;
}
.arti div{
	margin: 0 10px 20px;
}
.arti div p{
	float: left;
	text-align: center;
	padding: 10px;
	color: #939393;
}
.arti div .font_color{
	color: #11cbd7;
}

.arti .price{
	float: right;
}
.arti .price p:first-child{
	text-decoration: line-through;
}
.arti .price p:last-child{
	color: #fff;
	border-radius: 3px;
	background-color: #11cbd7;
}
/* end sec_2_3 */
/* Ending section_2 style */

/* starting section_3  style */
.section_3{
	padding: 60px 0;
	height: 670px;
}
/* start sec_3_1 */
.sec_3_1{
	padding-top: 40px;
	text-align: center;
	line-height: 30px;
}
.sec_3_1 h2{
	color: #11cbd7;
	font-size: 35px;
}
.sec_3_1 p{
	margin: 25px 0;
	color: #939393;
}
/* end sec_3_1 */
/* start sec_3_2 */
.sec_3_2{
	height: 450px;
}
.arti_teach{
	width: 312px;/* 312 */
	float: left;
	margin-right: 25px;
	/*background-color: #f7f7f7;*/
	background: -webkit-linear-gradient(top, #b4ddb4 0%,#83c783 17%,#52b152 33%,#008a00 67%,#005700 100%,#002400 100%); 
}
.arti_teach:last-child{
	margin-right: 0;
}
.arti_teach .teach_name{
	width: 100%;
}
.arti_teach .teach_name img{
	width: 100% ;
	border-radius: 50%;		
}
.arti_teach p:first-child{
	padding: 20px;
	line-height: 25px;
	text-align: justify;
}
.arti_teach .teach_name{
	margin-top: 146px;
}
.arti_teach .teach_name p:first-child{
	float: left;
	width: 50px;
	height: 50px;
}
.arti_teach p:last-child{
	line-height: 25px;
	float: left;
	margin-top: 25px;
}
.arti_teach .teach_name span{
	line-height: 25px;
	font-size: 20px;
}
/* end sec_3_2 */
/* Ending section_3  style */

/* Ending section_4  style */
.section_4{
	padding: 60px 0;
	height: 910px;
	background-color: #f7f7f7;
}
/* start sec_4_1 */
.sec_4_1{
	padding-top: 40px;
	text-align: center;
	line-height: 30px;

}
.sec_4_1 h2{
	color: #11cbd7;
	font-size: 35px;
}
.sec_4_1 p{
	margin: 25px 0;
	color: #939393;
}
/* end sec_4_1 */

/* start sec_4_2 */
.sec_4_2{
	height: 550px;
	padding-top: 40px;
}
.sec_4_21{
	width: 490px;
	float: left;
	background-color: #fff;
	height: 440px;
}
.sec_4_21 img{
	width: 100%;
}
.sec_4_21 p{
	padding: 35px 20px 20px;
}
.sec_4_21 a{
	text-decoration: none;
	padding: 0 20px;
	color: #888;
}
.sec_4_21 a:hover{
	color: #000;
}
.sec_4_22{
	width: 490px;
	float: right;
}
.sec_4_22 img{
	width: 140px;
	height: 95px;
	margin-left: 15px;
	margin-bottom: 15px;
}
.sec_4_22 a{
	text-decoration: none;
	padding-right: 10px; 
	color: #888;
}
.sec_4_22 .s_td{
	line-height: 20px;
	padding-left: 15px;
}
.sec_4_22 a:hover{
	color: #000;
}
/* end sec_4_2 */
/* start sec_4_3 */
.sec_4_3{
	height: 200px;
	background-color: #11cbd7;
}
.sec_4_31{
	width: 490px;
	padding: 48px 0;
	line-height: 35px;
	float: left;
	color: #fff;
}
.sb{
	width: 292px;
	padding: 10px;
	border-radius: 5px;
	border:transparent;
	font-size: 17px;
}
.email_input{	
	width: 410px;
	height: 40px;
	border-radius: 5px;
	background-color: #fff;
	margin: 30px 0; 
}
.sec_4_31 a{
	text-decoration: none;
	color: #fff;
	padding: 6px;
	font-size: 17px;
	border-radius: 3px;
	background-color: #11cbd7;
	border: 1px solid transparent;
}
.sec_4_31 a:hover{
	background-color: transparent;
	border: 1px solid #11cbd7;
	color: #000;
}
/* end sec_4_3 */
/* Ending section_4  style */

/* Starting footer  style */

footer{
	/*border: 1px solid red;*/
	height: 600px;
	background-color: #f7f7f7;
}
/* start sec_f1 */
.sec_f1{
	width: 100%;
	height: 400px;
	padding-top: 100px;
}
.footer_col{
	width: 222px;
	float: left;

}
.footer_col h4{
	font-weight: 100;
	font-size: 20px;
	margin-bottom: 20px;
}
.footer_col:first-child p{
	line-height: 25px;
	padding-right: 20px;
	color: #939393;
}
.footer_col:first-child h4{
	font-size: 30px;
	font-weight: 100;
	margin-bottom: 20px;
	letter-spacing: 3px;
}
.footer_col a{
	text-decoration: none;
	padding-right: 10px; 
	color: #11cbd7;
}
.footer_col a:hover{
	color: #03939b;
}
.footer_ql div{
	width: 109px;
	float: left;
	line-height: 25px;
}
.footer_ql div a{
	display: block;
}

.footer_blog article{
	margin-bottom: 20px;
}
.footer_blog article p a{
	font-size: 20px;
	font-weight: 100;
	color: #000;
}
.footer_blog article a{
	color: #b2aeae;
}
.footer_blog article a:hover{
	color: #7c7c7c;
}
.footer_blog article p a:hover{
	color: #11cbd7;
}
.footer_col:last-child img{
	width: 40px;
	height: 25px;
	margin-top: 20px;	
}
.footer_col:last-child{
	margin-left: 15px;
}
.f_td{
	color: #939393;
	padding-left: 15px;
}
/* end sec_f1 */
/* start sec_f2 */
.sec_f2{
	width: 100%;
}
.sec_f2 a{
	text-decoration: none;
	color: #11cbd7;
}
.sec_f2  p{
	width: 600px;
	float: left;
}
.sec_f2  .social_links{
	width: 200px;
	float: right;
}
.sec_f2 .social_links img{	
	width: 15px;
	height: 15px;
	padding-left: 15px;
}

/* end sec_f2 */
/* Ending footer  style */